body {
    background-color: rgb(195, 145, 244);
}

/* From Uiverse.io by SARAN2004 */ 
#question {
    max-width: 190px;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    position: relative;
}
  
#question:valid {
    border-color: #5d04ab;
    color: #5d04ab;
    box-shadow: 2px 2px 8px 1px #5d04ab;
}
  
.text {
    margin-top: 10px;
    color: #5d04ab;
}
  

img {
    visibility: hidden; 
    /* animation: pulse 3s infinite; ***GET THIS TO ANIMATE!!! */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}